@using Microsoft.AspNetCore.Mvc.Localization
@using Attempt6OpenIddict.Localization
@inject IHtmlLocalizer<Attempt6OpenIddictResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
